@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Stalemate&family=Tangerine:wght@400;700&display=swap');
@import "tailwindcss";


@layer base {
  :root {
      --primary-color: #3490dc;
      --secondary-color: #ffed4a;
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}


